<script>window.googleJavaScriptRedirect=1</script><META name="referrer" content="origin"><script>var n={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};n.navigateTo(window.parent,window,"https://forums.beamdog.com/discussion/1593/sum-of-ability-scores-on-char-gen-screen");
</script><noscript><META http-equiv="refresh" content="0;URL='https://forums.beamdog.com/discussion/1593/sum-of-ability-scores-on-char-gen-screen'"></noscript>